#preload-page {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background: #110117;
  display: block;
  z-index: 9999;
  overflow: hidden;
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 1s ease forwards 3s;
          animation: fill 1s ease forwards 3s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 129;
  stroke-dashoffset: 129;
  -webkit-animation: line-anim 1.5s ease forwards;
          animation: line-anim 1.5s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 290;
  stroke-dashoffset: 290;
  -webkit-animation: line-anim 1.5s ease forwards 0.3s;
          animation: line-anim 1.5s ease forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 143;
  stroke-dashoffset: 143;
  -webkit-animation: line-anim 1.5s ease forwards 0.6s;
          animation: line-anim 1.5s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 215;
  stroke-dashoffset: 215;
  -webkit-animation: line-anim 1.5s ease forwards 0.9s;
          animation: line-anim 1.5s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 143;
  stroke-dashoffset: 143;
  -webkit-animation: line-anim 1.5s ease forwards 1.2s;
          animation: line-anim 1.5s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 205;
  stroke-dashoffset: 205;
  -webkit-animation: line-anim 1.5s ease forwards 1.5s;
          animation: line-anim 1.5s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 246;
  stroke-dashoffset: 246;
  -webkit-animation: line-anim 1.5s ease forwards 1.8s;
          animation: line-anim 1.5s ease forwards 1.8s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 176;
  stroke-dashoffset: 176;
  -webkit-animation: line-anim 1.5s ease forwards 2.1s;
          animation: line-anim 1.5s ease forwards 2.1s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 215;
  stroke-dashoffset: 215;
  -webkit-animation: line-anim 1.5s ease forwards 2.4s;
          animation: line-anim 1.5s ease forwards 2.4s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #0CF6E8;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #0CF6E8;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  #preload-page {
    display: block;
  }
}

/*Smartphones */
@media screen and (max-width: 480px) and (orientation: portrait) {
  main {
    display: none;
  }
  #preload-page {
    display: none;
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  #preload-page .preload-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.8645) 15.65%, rgba(255, 255, 255, 0.4845) 93.54%);
    -webkit-box-shadow: 20px 20px 100px rgba(17, 1, 23, 0.1);
            box-shadow: 20px 20px 100px rgba(17, 1, 23, 0.1);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
  #preload-page .preload-box img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 44%;
    top: 44%;
    width: 150px;
    height: 150px;
  }
  #preload-page .preload-box .menu {
    position: absolute;
    top: 80%;
    margin: 25px;
  }
  #preload-page .preload-box .menu form {
    margin-left: 10px;
  }
  .amehegwuh-mobile {
    position: absolute;
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .amehegwuh-mobile .top-box {
    background: #110117;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .amehegwuh-mobile .top-box .amehegwuh {
    position: absolute;
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    display: block;
  }
  .amehegwuh-mobile .top-box .phone {
    display: none;
    background: white;
    padding: .5em;
    width: 80%;
    top: 80%;
    border-radius: 1.5em;
    position: relative;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-box-shadow: -30px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: -30px 30px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .amehegwuh-mobile .top-box .phone:before {
    content: " ";
    position: absolute;
    background-color: #110117;
    border-radius: .6em;
    padding: .3em;
    width: 40%;
    top: -5px;
    left: 30%;
  }
  .amehegwuh-mobile .top-box .square-group {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "square square";
  }
  .amehegwuh-mobile .top-box .square-group .square {
    padding: 3em;
    margin: .2em;
    border-radius: .8em;
    background-color: #110117;
  }
  .amehegwuh-mobile .top-box .skeleton-title, .amehegwuh-mobile .top-box .skeleton-title2 {
    padding: .6em;
    margin: 1em .3em;
    border-radius: .8em;
    background-color: #110117;
  }
  .amehegwuh-mobile .top-box .skeleton-title2 {
    width: 60%;
  }
  .amehegwuh-mobile .top-box .box-group {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "square";
  }
  .amehegwuh-mobile .top-box .box-group .square {
    padding: 6em;
    margin: .2em;
    border-radius: .8em;
    border: .2em solid white;
    background-color: #110117;
  }
  .amehegwuh-mobile .top-box h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100%;
    font-size: 44px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
  }
  .amehegwuh-mobile .top-box h2 {
    position: absolute;
    top: 42%;
    left: 5%;
    width: 100%;
    font-size: 10px;
    font-weight: normal;
    color: white;
    letter-spacing: 1px;
  }
  .amehegwuh-mobile .top-box .text-cover {
    position: absolute;
    height: 2em;
    width: 65%;
    left: 22%;
    top: 54%;
    overflow: hidden;
  }
  .amehegwuh-mobile .top-box .text-cover .item-1,
  .amehegwuh-mobile .top-box .text-cover .item-2,
  .amehegwuh-mobile .top-box .text-cover .item-3 {
    position: absolute;
    display: block;
    left: 0%;
    font-size: 8px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .amehegwuh-mobile .top-box .text-cover .item-1 {
    -webkit-animation-name: anim-1;
            animation-name: anim-1;
  }
  .amehegwuh-mobile .top-box .text-cover .item-2 {
    -webkit-animation-name: anim-2;
            animation-name: anim-2;
  }
  .amehegwuh-mobile .top-box .text-cover .item-3 {
    -webkit-animation-name: anim-3;
            animation-name: anim-3;
  }
  @-webkit-keyframes anim-1 {
    0%, 8.3% {
      top: 100%;
      opacity: 0;
    }
    8.3%, 25% {
      top: 25%;
      opacity: 1;
    }
    33.33%, 100% {
      top: -110%;
      opacity: 0;
    }
  }
  @keyframes anim-1 {
    0%, 8.3% {
      top: 100%;
      opacity: 0;
    }
    8.3%, 25% {
      top: 25%;
      opacity: 1;
    }
    33.33%, 100% {
      top: -110%;
      opacity: 0;
    }
  }
  @-webkit-keyframes anim-2 {
    0%, 33.33% {
      top: 100%;
      opacity: 0;
    }
    41.63%, 58.29% {
      top: -45%;
      opacity: 1;
    }
    66.66%, 100% {
      top: -110%;
      opacity: 0;
    }
  }
  @keyframes anim-2 {
    0%, 33.33% {
      top: 100%;
      opacity: 0;
    }
    41.63%, 58.29% {
      top: -45%;
      opacity: 1;
    }
    66.66%, 100% {
      top: -110%;
      opacity: 0;
    }
  }
  @-webkit-keyframes anim-3 {
    0%, 66.66% {
      top: 100%;
      opacity: 0;
    }
    74.96%, 91.62% {
      top: -45%;
      opacity: 1;
    }
    100% {
      top: -110%;
      opacity: 0;
    }
  }
  @keyframes anim-3 {
    0%, 66.66% {
      top: 100%;
      opacity: 0;
    }
    74.96%, 91.62% {
      top: -45%;
      opacity: 1;
    }
    100% {
      top: -110%;
      opacity: 0;
    }
  }
  .amehegwuh-mobile .img-holder {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 66%;
    background: #110117;
  }
  .amehegwuh-mobile .img-holder .holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #110117;
    opacity: .1;
    z-index: 9;
  }
  .amehegwuh-mobile .img-holder img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100vw;
  }
  .amehegwuh-mobile .spiral-vector-front {
    position: absolute;
    max-width: 100vw;
    top: 145%;
    z-index: 999;
  }
  .amehegwuh-mobile .spiral-vector-back {
    position: absolute;
    max-width: 100vw;
    top: 147.5%;
    z-index: 99;
  }
  .amehegwuh-mobile .profile {
    position: absolute;
    width: 100%;
    height: 120%;
    top: 175%;
    background: white;
    z-index: 999;
    overflow: scroll;
  }
  .amehegwuh-mobile .profile .text-holder {
    position: absolute;
    width: 80%;
    top: 0%;
    left: 10%;
  }
  .amehegwuh-mobile .profile .text-holder p {
    line-height: 30px;
    font-size: 12px;
    color: #110117;
    opacity: .5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    letter-spacing: 0.1em;
  }
  #landscape-page {
    display: none;
  }
}

/* iphones -------*/
/*Landscape*/
/*Smartphones */
@media screen and (min-width: 526px) and (max-height: 320px) and (orientation: Landscape) {
  #landscape-page {
    display: block;
  }
}
/*# sourceMappingURL=amehegwuh.css.map */