body {margin:0px;}

#topbar {width:98%; height:73%; top:16.5%; left:1%; background:linear-gradient(white 50%, grey 555%); position:fixed; opacity:1; border-radius:0px 0px 80px 80px;  display:none;}
#topbar-img{ position:fixed; top:85px; right:8px; display:block; height:53%; width:25%; border:2px double grey; border-radius:50%;}
#topbar:hover {background:}

#img-body{position:absolute; height:68%; top:5%; left:9%; width:62%; animation:scally 7s ease 3s infinite alternate; animation-delay:2s;}
@keyframes scally{
		from{transform:scale(0.98,0.98);}
		to{transform:scale(1.1,1.1);}
	}

#toplink{bottom-margin:100px;}
#home{color:black; font-weight:bold;text-decoration:none; position:fixed; left:15%; top:480px; letter-spacing:3px; font-size:18px; opacity:.3;}
#bio{color:black; font-weight:bold;text-decoration:none; position:fixed;  left:23%; top:480px; letter-spacing:8px; font-size:18px; opacity:.3;}
#works{color:black; font-weight:bold;text-decoration:none; position:fixed; left:29%; top:480px; letter-spacing:8px; font-size:18px; opacity:.3;}
#contact{color:black; font-weight:bold;text-decoration:none; position:fixed; left:39%; top:480px; letter-spacing:8px; font-size:18px; opacity:.3}
#exhibition{color:black; font-weight:bold;text-decoration:none; position:fixed; left:51%; top:480px; letter-spacing:8px; font-size:18px; opacity:.3}

#home:hover{opacity:1;}
#bio:hover{opacity:1}
#works:hover{opacity:1}
#contact:hover{opacity:1}
#exhibition:hover{opacity:1}

h1{ position:fixed; text-align:center; top:5%; left:10%; font-family:san-serif; font-weight:lighter; font-size:26px; }

#slider {position:fixed; width:100%; height:80%; top:140px; border-radius:px; bottom:0px;}

#next {position:absolute; text-decoration:none; font-size:25px; top:320px; right:5px; color:white; filter:opacity(.5); font-weight:bolder; display:none;}
#prev {position:absolute; text-decoration:none; font-size:25px;  top:320px; left:5px; color:white; filter:opacity(.5); font-weight:bolder;display:none;}
#prev:hover {filter:opacity(1); color:white;}
#next:hover {filter:opacity(1); color:white;}

#topfloor{height:22px;  background:white; border-radius:4px; position:fixed; left:21%; top:12.3%;}
#topfloor>div {width:22px; height:4px; margin:3px; background:black; opacity:.1; border-radius:4px; transistion:background.8s linear 0s;}

#topfloor2{color:black; opacity:.3; position:fixed; display:none;}


#downbar{height:235px; width:100%; background:rgba(0,130,120,.8); position:absolute; bottom:0%; display:none;}

#fb{position:absolute; top:68.8%; right:14%; color:black; opacity:1; display:none;}
#fb:hover{opacity:.2;}

#ig{position:absolute; top:68.8%; right:12%; color:black; opacity:1; display:none;}
#ig:hover{opacity:.2;}

#wa{display:none; opacity:1; height:20px; width:20px; position:absolute; top:68%; right:10%; border-radius:0%; background:rgba(0,0,0,0); opacity:.8;}
#wadown{display:none; position:fixed; width:100%; height:4%; background:linear-gradient(50deg, green 1%, white 55%); bottom:.2%;}
#wadown>h3{position:absolute; bottom:-30%; font-size:12px; left:60px; font-weight:lighter; color:black; letter-spacing:8px;}

#socialslide{position:absolute; width:100%; height:90%; bottom:0%; background:rgba(0,130,120,1); opacity:.8; display:none;}
#socialslide>#slideimage{position:fixed; height:0%; width:100%; bottom:18%; left:0%; }


@media only screen and (min-width:768px){
#topfloor{display:none;}
#slider{display:none;}
#downbar{display:block;}
#topbar{display:block;}
#fb{display:block;}
#ig{display:block;}

#newsletter{display:none;}
#mail{position:absolute; top:59%; left:70%; display:none;}
#email-sub1{position:fixed; top:60%; left:20.8%; font-size:13px; font-weight:normal;  width:22%; height:6%; letter-spacing:3px; text-align:center; color:white; background:black; border-radius:40px 0px 0px 40px; font-weight:bold;  animation:scally 7s ease 3s infinite alternate; animation-delay:2s; }
#btn-sub1{position:fixed; top:60%; left:43%; font-weight:bold; opacity:1; background:rgba(170,0,0,1); color:white; width:7%; height:6%; border-radius:0px 40px 40px 0px; text-align:center;  animation:scally 7s ease 3s infinite alternate; animation-delay:2s;}
#email-sub{display:none;}
#btn-sub{display:none;}
}


@media only screen and (max-width:768px){
#topbar{width:100%; height:73%; top:17%; border-radius:0px; left:0px; background:linear-gradient(white 15%, grey 555%)}
#topbar>img{width:25%; height:20%; right:6%; top:20%;}


#img-body{display:none;}

#home{left:50px; top:130px; font-weight:bold; letter-spacing:2px; font-size:13px;}
#home:hover{letter-spacing:10px; font-size:18px;}
#bio{left:50px; top:170px; font-weight:bold; letter-spacing:2px; font-size:13px;}
#bio:hover{letter-spacing:10px; font-size:18px;}
#works{left:50px; top:210px; font-weight:bold; letter-spacing:2px; font-size:13px;}
#works:hover{letter-spacing:10px; font-size:18px;}
#contact{left:50px; top:250px; font-weight:bold; letter-spacing:2px; font-size:13px;}
#contact:hover{letter-spacing:10px; font-size:18px;}
#exhibition{left:50px; top:290px; font-weight:bold; letter-spacing:2px; font-size:13px;}
#exhibition:hover{letter-spacing:10px; font-size:18px;}

h1{top:3%; left:30%;}

#topfloor{left:2%; top:3%;}
#topfloor2{left:6.8%; top:1.3%; display:none;}

#downbar{height:25%;}

#fb{top:-100%; left:40%; position:absolute; display:none; opacity:0;}
#ig{top:-100%; left:48%; position:absolute; display:none; opacity:0;}
#wa{top:82%; left:56%; position:absolute; display:none; opacity:0;}


#socialslide{display:block;}

#newsletter{position:fixed; top:330px; left:50px; font-weight:bold; letter-spacing:2px; font-size:13px; color:black; opacity:.3; text-decoration:none;}
#newsletter:hover{letter-spacing:10px; font-size:18px; opacity:1;}
#mail{position:absolute; top:59%; left:70%; display:none;}
#newsletter-modal{position:absolute; height:100%; width:100%; background:white; top:0%; left:0%;}
#newsletter-modal>img{position:absolute; height:80%; width:100%; display:block; }
#newsletter-form{position:fixed; background:white; width:100%; height:100%; left:0%; top:0%; display:none; }
#email-sub{position:fixed; top:82.5%; left:3%; font-size:13px; font-weight:normal;  width:70%; height:6%; letter-spacing:3px; text-align:center; color:white; background:black;}
#btn-sub{position:absolute; top:82.5%; right:3%; font-weight:bold; opacity:1; background:rgba(170,0,0,1); color:white; width:20%; height:6%;}
#cancel{position:absolute; top:93%; right:0%;}
#recent{position:absolute; top:94.4%; right:12%;}
#email-sub1{display:none;}
#btn-sub1{display:none;}
}
