body {margin:0; padding: 0; box-sizing: border-box;}

main{display:none;}

#preload-page{position:fixed; top:0%; left:0%; width:100%; height:100%; background:white; display:none; z-index:999; overflow:hidden; }
#preload-img{position:absolute; width:100%; height:100%; display:none;}
#preloader-cover{position:absolute; display:block;  width:60px; height:60px; background:transparent; opacity:1; border-radius:50%; animation:scally ease-out 1s infinite .2s alternate; }
#preloader{position:absolute; display:block;  width:100%; height:100%; background:rgba(0,0,0,.1); border-radius:50%; animation:backchange ease-out 1s infinite .2s alternate-reverse; }

@keyframes backchange{
	25%{background:rgba(0,0,0,.08);}
	50%{background:rgba(0,0,0,.06);}
	75%{background:rgba(0,0,0,.04);}
	100%{background:rgba(0,0,0,.02);}
}




#menubar{position:absolute; height:5%; width:40%; top:0%; background:black; opacity:.85; right:10%; border-radius: 0px 0px 0px 60px; z-index:99; display:block;}
#menubarr{position:absolute; right:0%; width:13%; height:5%; background: #16011E; border-radius: 0px 10px 30px 60px; z-index:999; }


#home1{position:absolute;  color:white; top:25%; left:35%;  font-size:14px; font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; text-transform:uppercase; text-decoration:none; text-align: center; letter-spacing: 0.4em;}

#painting1{position:absolute;  color:white; top:25%; left:15%;  font-size:12px; font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; text-transform:uppercase; text-decoration:none; text-align: center; letter-spacing: 0.4em;}
#profile1{position:absolute;  color:white; top:25%; left:34%; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; text-transform:uppercase; text-decoration:none; text-align: center; letter-spacing: 0.4em;}
#exhibition1{position:absolute; color:white; top:25%; left:52%; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; text-transform:uppercase; text-decoration:none; text-align: center; letter-spacing: 0.4em;}
#contact1{position:absolute;  color:white; top:25%; left:75%; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; text-transform:uppercase; text-decoration:none; text-align: center; letter-spacing: 0.4em;}





#desktop-topimg{position:absolute; width:100%; height:80%; display:none;}
#ameh-logo{position:fixed; right:-3%; top:58%; display:none;}

#downbar{height:20%; width:100%; background:white; position:absolute; bottom:0%; display:none;}
#undraw{position:absolute; height:45px; top:35%; width:45px; left:5%; align-items: center;}
#UIKIT{position:absolute; height:45px; top:35%; width:45px; left:12%; align-items: center;}
#materialize{position:absolute; height:80px; top:30%; width:80px; left:19%; align-items: center;}
#unsplash{position:absolute; height:80px; top:30%; width:80px; left:26%; align-items: center;}
#rele{position:absolute; height:80px; top:30%; width:80px; left:33%; align-items: center;}
#bushera{position:absolute; height:80px; top:30%; width:80px; left:40%; align-items: center; filter:grayscale(100)}





/* laptops -----*/


/*laptops & desktops*/
@media screen and (min-width: 1200px){


#slider{display:none;}
#slider1{display:none;}
#downbar{display:block;}



#offslide{display:none;}
#showbar{display:none;}

#desktop-topimg{display:block;}
#ameh-logo{display:block;}


#landscape-text{position:absolute; display:none;}
#landscape-text2{position:absolute; display:none;}


#home{display:none; }
#bio{display:none; }
#works{display:none; }
#contact{display:none; }
#exhibition{display:none; }

}






/*(portraits)-----*/

/*Tablets*/
@media screen and  (min-width: 768px) and (orientation: portrait){
	
	main{display:none;}
	
	
	
		 #preload-page{width:100%; height:100%; display:none; z-index:9999;}
		 #preload-img{position:absolute; width:100%; height:100%; display:block;}
		 #preloader{position:absolute; top:90%; right:5%; width:28px; height:28px; border-radius:50px; background:blue; display:none;}
		 @keyframes rotator{
		 from{transform:rotate(0deg)}
		 to{transform:rotate(360deg)}
			}
		#progress1{position:absolute; top:75%; width:30%; left:35%; animation:change-progress linear 1s infinite 1s alternate; display:block;}
		@keyframes change-progress{
			25%{background:brown;}
			50%{background:purple;}
			75%{background:pink;}
			100%{background:indigo;}
		}
	
	
	
	
	
	#landscape-text{position:absolute; display:none;}
	#landscape-text2{position:absolute; display:none;}
	
	
	
	#slider {position:fixed; width:10%; height:88%; top:12%; border-radius:px; bottom:0px; z-index:99; filter:grayscale(100); display:none;}
	#slider1 {position:fixed; width:100%; height:88%; top:12%; border-radius:px; bottom:0px;display:none;}
	
	
		 #showbar{position: absolute; width:100%; height:25%; left: 0px; top: 1px; background: #263238; box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);}
		 
		 #close-trigger{position:absolute;  top:2%; right:5%; color:white; display:none;}
		 
		 #menu-btn{position: absolute; width: 107px; height: 23px; left: 36px; top: 24px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 13px; line-height: 23px; text-align: center; letter-spacing: 0.1em; color: #FFFDFD; text-decoration:none;} 
		 #news-btn{position: absolute;	width: 107px; height: 23px; left: 126px; top: 24px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 13px; line-height: 23px; text-align: center; letter-spacing: 0.1em; color: #FFFDFD; text-decoration: none;}
		 #help-btn{position: absolute; width: 107px; height: 23px; left: 218px; top: 24px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 13px; line-height: 23px; text-align: center; letter-spacing: 0.1em; color: #FFFDFD; text-decoration: none;}
	
		 #offslide-btn{display:block;}
		 #offslide{background: linear-gradient(180deg, rgba(22, 1, 30, 0.7) 98.23%, #263238 99.99%, #263238 100%, #263238 100%), linear-gradient(171.01deg, rgba(210, 6, 153, 0.95) 0%, rgba(110, 51, 117, 0.980748) 37.7%, #2F4F5F 72.5%, #2F4F5F 93.15%); position:fixed; width:35%; top:0%; height:100%; left:-100%; opacity:1;  display:block; z-index:999;}
		 #offslide-down{position:absolute; bottom: 0%; width:360px; height:213px;  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25);}
		 #darkmode{position:absolute; top:32%; left:75%; color:black; width:0%; height:0%; }
		 
		 
		 #home{position: absolute; width: 168px; height: 31px; left: 104px; top: 106px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 18px; line-height: 32px; align-items: center; text-align: center; letter-spacing: 0.1em; opacity:.3; color: rgb(87, 112, 141); text-decoration:none;}
		 #painting{position: absolute; width: 168px; height: 32px; left: 104px; top: 170px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color:  rgb(87, 112, 141); text-decoration:none;}
				#down{position:absolute;  height:0%; width:100%; top:43%; left:1.8%; background:white;}
				#mob-year{position:absolute; top:10.5%; left:40%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:10px; opacity:.3;}
				#mob-series{position:absolute; top:65%; left:40%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:10px; opacity:.3;}
				#works-span{position:absolute; top:39.6%; right:64%;  color:#00695c; font-size:8px; font-weight:bold; display:none; }
				#works-span2{position:absolute; top:39.6%; right:64%; color:#00695c; font-size:8px; font-weight:bold; display:none;}
		 #exhibition{position: absolute; width: 168px; height: 34px; left: 96px; top: 235px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color:  rgb(87, 112, 141); text-decoration:none;}
		 #profile{position: absolute; width: 168px; height: 34px; left: 96px; top: 302px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color:  rgb(87, 112, 141); text-decoration:none;}
		 #contact{position: absolute; width: 168px; height: 35px; left: 96px; top: 369px;font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color:  rgb(87, 112, 141); text-decoration:none;}
		 #home:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #painting:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #exhibition:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #profile:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #contact:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
	
		
	
	
	#downbar{height:25%; background:transparent; display:none;}
	
	
	
	#menubarr{position:fixed; width:100%; height:20%; top:80%; display: none;}
	#menubar{display:none;}
	
	
	
	}



/*Smartphones */
@media screen and  (max-width: 480px) and (orientation: portrait){
	
	main{display:none;}

	

	
	
	
		 #preload-page{width:100%; height:100%; display:none; z-index:9999;}
		 #preload-img{position:absolute; width:100%; height:100%; display:block;}
		 #preloader{position:absolute; top:90%; right:5%; width:28px; height:28px; border-radius:50px; background:blue; display:none;}
		 @keyframes rotator{
		 from{transform:rotate(0deg)}
		 to{transform:rotate(360deg)}
			}
		#progress1{position:absolute; top:75%; width:30%; left:35%; animation:change-progress linear 1s infinite 1s alternate; display:block;}
		@keyframes change-progress{
			25%{background:brown;}
			50%{background:purple;}
			75%{background:pink;}
			100%{background:indigo;}
		}
	
	
	
	
	
	#landscape-text{position:absolute; display:none;}
	#landscape-text2{position:absolute; display:none;}
	
	
	
	#slider {position:fixed; width:100%; height:88%; top:12%; border-radius:px; bottom:0px; z-index:99; filter:grayscale(100); }
	#slider1 {position:fixed; width:100%; height:88%; top:12%; border-radius:px; bottom:0px;display:none;}
	
	
		 #showbar{position: fixed; width: 100%; height: 100%; left: 0px; top: 0%; background: linear-gradient(180deg, rgba(22, 1, 30, 0.99) 99.6%, rgba(255, 255, 255, 0) 100%), linear-gradient(170.8deg, rgba(210, 6, 153, 0.95) -3.81%, rgba(110, 51, 117, 0.9405) -3.62%, rgba(47, 79, 95, 0.95) 33.35%); box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);}
		 #close-trigger{position:absolute;  top:2%; right:5%; color:white; display:none;}
		 
		 #menu-btn{position: absolute; width: 107px; height: 23px; left: 5%; top: 24px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 13px; line-height: 23px; text-align: center; letter-spacing: 0.1em; color: #FFFDFD; text-decoration:none;} 
		 #news-btn{position: absolute;	width: 107px; height: 23px; left: 35%; top: 24px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 13px; line-height: 23px; text-align: center; letter-spacing: 0.1em; color: #FFFDFD; text-decoration: none;}
		 #help-btn{position: absolute; width: 107px; height: 23px; left: 65%; top: 24px; font-family: Segoe Print; font-style: normal; font-weight: bold; font-size: 13px; line-height: 23px; text-align: center; letter-spacing: 0.1em; color: #FFFDFD; text-decoration: none;}
	
		 
		 #offslide{background: linear-gradient(180deg, rgba(22, 1, 30, 0.7) 98.23%, #263238 99.99%, #263238 100%, #263238 100%), linear-gradient(171.01deg, rgba(210, 6, 153, 0.95) 0%, rgba(110, 51, 117, 0.980748) 37.7%, #2F4F5F 72.5%, #2F4F5F 93.15%); box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); position:fixed; width:100%; top:0%; height:100%; left:-100%; opacity:1; border-radius:0px 0px 0px 0px; display:block; z-index:999;}
		 #offslide-down{position:fixed; bottom: 0%; max-width:100%; height:;  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25); border:0px solid transparent;}
		#darkmode{position:absolute; top:32%; left:75%; color:black; width:0%; height:0%; }
		 
		 #toplink{position:fixed; width:100%; height:100%; margin-left:6vw; margin-top:-15vw;  box-sizing: border-box;}
		
		 #home{position:absolute;  left: 104px; top: 106px; font-family: Segoe Print; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; align-items: center; text-align: center; letter-spacing: 0.1em; opacity:.3; color: #FAFDFF; text-decoration:none;}
		 #painting{position: absolute;  left: 104px; top: 170px; font-family: Segoe Print; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color:  white; text-decoration:none;}
				#down{position:absolute;  height:0%; width:100%; top:43%; left:1.8%; background:white;}
				#mob-year{position:absolute; top:10.5%; left:40%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:10px; opacity:.3;}
				#mob-series{position:absolute; top:65%; left:40%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:10px; opacity:.3;}
				#works-span{position:absolute; top:39.6%; right:64%;  color:#00695c; font-size:8px; font-weight:bold; display:none; }
				#works-span2{position:absolute; top:39.6%; right:64%; color:#00695c; font-size:8px; font-weight:bold; display:none;}
		 #exhibition{position: absolute;  left: 96px; top: 235px; font-family: Segoe Print; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color:  white; text-decoration:none;}
		 #profile{position: absolute; left: 96px; top: 302px; font-family: Segoe Print; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color: white; text-decoration:none;}
		 #contact{position: absolute; left: 96px; top: 369px;font-family: Segoe Print; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:.3; color:  white; text-decoration:none;}
		 #home:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #painting:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #exhibition:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #profile:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
		 #contact:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
	
		
	
	
	#downbar{height:25%; background:transparent; display:none;}
	
	
	
	#menubarr{ display: none;}
	#menubar{display:none;}
	
	
	
	}


@media screen and  (min-width: 280px) and (max-width: 319px) and (orientation: portrait){
	#toplink{margin-top:-5vw; margin-left:0vw;}
}



/* iphones -------*/
@media screen and  (min-width: 360px) and (orientation: portrait){
	#toplink{margin-top:-5vw; margin-left:12vw;}
}

@media screen and  (min-width: 410px) and (orientation: portrait){
	#toplink{margin-top:0vw; margin-left:17.5vw;}
}

@media screen and  (min-height: 812px) and (orientation: portrait){
	#toplink{margin-top:20vw; margin-left:12vw;}
}
